### Problem Description

The data science team in your company was working on a machine learning model that can help doctors in diagnosing diabetes. Then, the deployment team decided that the model itself (given in `model.h5` file) will be on server side so you have to provide the following:

- A scoring script that uses the h5 file to predict the outcome of each patient.
- The given file `pima-indians-diabetes.data.csv` should be injected to the database under the name of **diabetes_unscored**
- Your script must listen to the database and take the newly added records in **diabetes_unscored**, run the model on them, and put them back in a new table **diabetes_scored**.
- Your script should be a scheduled task that will run every hour.

So, the deployment team will be able to inject data in a table and retrieve the prediction output from the other table.

#### Best of luck!

### Importing liberaries

In [1]:
import os 
import numpy as np
import pandas as pd
from numpy import loadtxt
from keras.models import load_model
import h5py
import psycopg2
# Let's import sqlalchemy 
import sqlalchemy as db
import math

os.getcwd()

Using TensorFlow backend.

'/mnt/d/ITI/python_for_data_management/Task_3'

In [2]:


# create connection with the database
con = db.create_engine('postgresql://iti:iti@localhost/abdlrahman')

# Find out the tables in this DB
con.table_names()

['diabetes_scored', 'diabetes_unscored']

### Installing liberaries

In [3]:
#!pip install psycopg2

##  Reading from database table and loading in dataframe

In [4]:
try:
    connection = psycopg2.connect(user = "iti",
                                  password = "iti",
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "abdlrahman")

    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    #print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    #cursor.execute("""  select * from diabetes_old ; """)
    #record = cursor.fetchone()
    #print("You are connected to - ", record,"\n")
    query = """ select Pregnancies , Glucose ,BloodPressure ,
                SkinThickness , Insulin , BMI ,
                DiabetesPedigreeFunction ,Age 
                from diabetes_unscored
                Except
                select Pregnancies , Glucose , BloodPressure ,
                SkinThickness , Insulin , BMI ,
                DiabetesPedigreeFunction ,Age 
                from diabetes_scored ;   """
    diabetes_csv_data = pd.read_sql(query, connection)


except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)
finally:
    #closing database connection.
        if(connection):
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")

PostgreSQL connection is closed

In [5]:
diabetes_csv_data

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age
0,1,99,58,10,0,25.4,0.551,21
1,1,147,94,41,0,49.3,0.358,27
2,12,140,82,43,325,39.2,0.528,58
3,1,111,86,19,0,30.1,0.143,23
4,4,118,70,0,0,44.5,0.904,26
...,...,...,...,...,...,...,...,...
762,2,83,66,23,50,32.2,0.497,22
763,0,102,75,23,0,0.0,0.572,21
764,9,171,110,24,240,45.4,0.721,54
765,1,109,38,18,120,23.1,0.407,26
766,5,158,70,0,0,29.8,0.207,63

### Predicting Outcome  for the New Records

In [6]:
diabetes_csv_data['outcome']= ''
diabetes_csv_data.head()

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
0,1,99,58,10,0,25.4,0.551,21,
1,1,147,94,41,0,49.3,0.358,27,
2,12,140,82,43,325,39.2,0.528,58,
3,1,111,86,19,0,30.1,0.143,23,
4,4,118,70,0,0,44.5,0.904,26,

In [7]:
from keras.models import model_from_json

# load json and create model
json_file = open('model.json', 'r')
model_json = json_file.read()
json_file.close()
model = model_from_json(model_json)
# load weights into new model
model.load_weights("model.h5")
print("Loaded model from disk")

Loaded model from disk

In [8]:
X = diabetes_csv_data.iloc[:,:-1].values
X

array([[  1.   ,  99.   ,  58.   , ...,  25.4  ,   0.551,  21.   ],
       [  1.   , 147.   ,  94.   , ...,  49.3  ,   0.358,  27.   ],
       [ 12.   , 140.   ,  82.   , ...,  39.2  ,   0.528,  58.   ],
       ...,
       [  9.   , 171.   , 110.   , ...,  45.4  ,   0.721,  54.   ],
       [  1.   , 109.   ,  38.   , ...,  23.1  ,   0.407,  26.   ],
       [  5.   , 158.   ,  70.   , ...,  29.8  ,   0.207,  63.   ]])

In [9]:
y_predicted = model.predict(X)
#print(y_predicted)

In [10]:

y_pred_binary = [] 
for i in y_predicted:
    for element in i :
        if element >= 0.5:
            binary_element = 1
        else :
            binary_element = 0 
        y_pred_binary.append(binary_element)
#y_pred_binary

In [11]:
diabetes_csv_data['outcome'] = y_pred_binary
diabetes_csv_data.head(5)

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
0,1,99,58,10,0,25.4,0.551,21,0
1,1,147,94,41,0,49.3,0.358,27,1
2,12,140,82,43,325,39.2,0.528,58,1
3,1,111,86,19,0,30.1,0.143,23,0
4,4,118,70,0,0,44.5,0.904,26,1

In [12]:

try:
    con = db.create_engine('postgresql://iti:iti@localhost/abdlrahman')


    #cursor = connection.cursor()
    diabetes_csv_data.to_sql(name = 'diabetes_scored',                     
                con=con ,index = False ,                                  # Name of schema to store the data in
                if_exists='append')                                 # Action to be done if a table with the same name exists
    
except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)
finally:
    #closing database connection.
        if(connection):
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")

PostgreSQL connection is closed

### Scheduling Cronjob Task  @hourly

In [13]:
#f= open("/etc/crontab","w+")

#f.write("@hourly root python Task_3_script.py")

#f.close()